<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Form Builder</title>
  <style>
    body {
      font-family: Helvetica, Arial, sans-serif;
    }
  </style>
  <script src="/js/riot.min.js"></script>
  <script src="/js/tags.js"></script>
</head>
<body>
  {{{body}}}
</body>